#include <xmonad_helper.inc>

#define GUI_FONT xft:xos4 Terminus:pixelsize=18
#define DEFAULT_FONT xft:xos4 Terminus:pixelsize=20
#define ICON_OFFSET 8
#define HEIGHT 22
#define YPOS 0
#define BROWSER_CMD "chromium --force-device-scale-factor=1.8"
#define MIXER_CMD "pamix"
